.invisible {
    color: transparent;
    text-shadow: 0 0 7px rgba(153,51,102,0.5);
}
body {
    background-image: linear-gradient(#FFBA00, #993366);
    padding: 25px 100px;
    text-align: center;
    font-family: Verdana;
}
html {
    width: 100%;
    height: 100%;
}
#card, #addCard {
    background: white;
    border-radius: 5px;
    margin: 20px auto;
    width: 50%;
    padding: 20px 0;
    display:flex;
    flex-flow: column;
}
#question {
    margin: auto;
}
#answer {
    margin: auto;
}
h3, h4, label, p {
    color: #993366;
    margin: 10px;
}
.card-part {
    height: 50%;
    margin: auto;
    padding: 1rem;
}
button {
    background: #993366;
    color: #FFBA00;
    border-radius: 5px;
    padding: 1rem;
    font-size: 20px;
}
.formSection {
    margin: 1rem auto;
    display: flex;
}
textarea {
    width: 100%;
    margin-right: 10px;
}